<!DOCTYPE html>
<html lang="zh-CN">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>案例 · TypeScript——JavaScript的超集</title>
    <!-- inject:css -->
    <!-- endinject -->
    <style type="text/css">
        @charset "UTF-8";
        [ng\:cloak],
        [ng-cloak],
        [data-ng-cloak],
        [x-ng-cloak],
        .ng-cloak,
        .x-ng-cloak,
        .ng-hide:not(.ng-hide-animate) {
            display: none !important;
        }
        
        ng\:form {
            display: block;
        }
        
        .ng-animate-shim {
            visibility: hidden;
        }
        
        .ng-anchor {
            position: absolute;
        }
    </style>
    <link rel="apple-touch-icon" sizes="57x57" href="/assets/images/icons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="60x60" href="/assets/images/icons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/assets/images/icons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/assets/images/icons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/assets/images/icons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/assets/images/icons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="144x144" href="/assets/images/icons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/assets/images/icons/apple-touch-icon-152x152.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/icons/apple-touch-icon-180x180.png">
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="/assets/images/icons/android-chrome-192x192.png" sizes="192x192">
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="/assets/images/icons/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="/assets/images/icons/manifest.json">
    <link rel="mask-icon" href="/assets/images/icons/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="/assets/images/icons/favicon.ico">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="msapplication-TileImage" content="/assets/images/icons/mstile-144x144.png">
    <meta name="msapplication-config" content="/assets/images/icons/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <!-- <script id="twitter-wjs" src="https://platform.twitter.com/widgets.js"></script> -->
    <!-- <link rel="alternate" type="application/rss+xml" title="RSS" href="/atom.xml"> -->
</head>

<body>
    <!-- inject:header:html -->
    <!-- endinject -->
    <!-- inject:message:html -->
    <!-- endinject -->
    <div class="examples ng-scope" ng-controller="examplesController">
        <div id="content" class="container-fluid fill">
            <div class="container examplesBg">
                <div class="row row-centered">
                    <!-- ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/greeter">
                                    <div class="exampleImg"><img ng-src="/assets/images/examples/greeter_400x300.png" src="/assets/images/examples/greeter_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">Hello World</h3></a>
                                <div class="exampleSummary ng-binding">类型和类的基本案例</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div class="ng-binding">
                                    <p>本示例展示了最基本的定义类和创建类的实例。</p>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/raytracer">
                                    <div class="exampleImg"><img ng-src="/assets/images/examples/raytracer_400x300.png" src="/assets/images/examples/raytracer_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">Raytracer</h3></a>
                                <div class="exampleSummary ng-binding">基于TypeScript实现的光线跟踪器</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div ng-bind-html="<p>This sample implements a DOM canvas-based raytracer.  Notable features include:</p><ul><li>Use of the DOM Canvas</li><li>Use of a wide range of TypeScript language features including interfaces, classes, modules, accessibility modifiers, and casts</li></ul> | htmlFilter"
                                    class="ng-binding">
                                    <p>本案例基于DOM画布实现的光线跟踪器。 显著特性包括:</p>
                                    <ul>
                                        <li>使用了DOM画布</li>
                                        <li>使用了大量TypeScript语言的特性，包括接口、类、模块、访问修饰符和类型转换。</li>
                                    </ul>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/todomvc">
                                    <div class="exampleImg"><img ng-src="/assets/images/examples/todomvc_400x300.png" src="/assets/images/examples/todomvc_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">TodoMVC</h3></a>
                                <div class="exampleSummary ng-binding">使用Backbone.js和jQuery创建TypeScript版本的TodoMVC</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">JQuery</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">Backbone</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div class="ng-binding">
                                    <p>本案例演示了使用Backbone.js实现的TODO示例（原示例来自<a href="https://github.com/addyosmani/todomvc" target="_blank">https://github.com/addyosmani/todomvc</a>）。突出展示了以下TypeScript的重点：</p>
                                    <ul>
                                        <li><strong>Backbone.js</strong>: 使用TypeScript的类去创建Backbone的模型和视图。</li>
                                        <li><strong>jQuery</strong>: 使用jQuery操作所有的DOM元素</li>
                                    </ul>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/imageboard">
                                    <div class="exampleImg"><img ng-src="/assets/images/examples/imageboard_400x300.png" src="/assets/images/examples/imageboard_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">ImageBoard</h3></a>
                                <div class="exampleSummary ng-binding">在服务器端使用TypeScript构建Node.js + Express + MongoDB应用程序。</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">Node.js</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">Express</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">MongoDB</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div class="ng-binding">
                                    <p>本案例实现了一个完整的Node.js应用程序。显著特性包括:</p>
                                    <ul>
                                        <li>Express服务器端MVC类型应用</li>
                                        <li>MongoDB服务器端访问数据库类型应用</li>
                                        <li>Node.js类型应用</li>
                                        <li>在Node.js模块系统中使用TypeScript的模块语法</li>
                                        <li>Visual Studio project file for working with the project</li>
                                    </ul>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/jquery">
                                    <div class="exampleImg"><img src="/assets/images/examples/jquery_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">JQuery Parallax Starfield</h3></a>
                                <div class="exampleSummary ng-binding">构建一个jQuery应用程序来演示jQuery的用法</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">JQuery</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div class="ng-binding">
                                    <p>本案例实现了一个小型的jQuery应用程序。显著特征包括：</p>
                                    <ul>
                                        <li>jQuery类型的应用</li>
                                    </ul>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/d3">
                                    <div class="exampleImg"><img ng-src="/assets/images/examples/d3_400x300.png" src="/assets/images/examples/d3_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">D3 Visualization</h3></a>
                                <div class="exampleSummary ng-binding">该应用程序的构建演示了D3的使用和基于画布的可视化</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">D3.js</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div class="ng-binding">
                                    <p>本案例实现了一个小型的D3可视化应用程序。显著的特点包括：</p>
                                    <ul>
                                        <li>D3类型的应用</li>
                                        <li>Canvas的应用</li>
                                    </ul>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                    <div class="col-xs-6 col-md-4 col-centered exampleBox ng-scope" ng-class="{hover: example.selected == 1}" ng-repeat="example in examples | byTags:tagFilters track by $index">
                        <div class="flip-container">
                            <div class="front-face">
                                <a href="https://github.com/Microsoft/TypeScriptSamples/tree/master/warship">
                                    <div class="exampleImg"><img ng-src="/assets/images/examples/warship_400x300.png" src="/assets/images/examples/warship_400x300.png"></div>
                                    <h3 class="exampleHeadline ng-binding">军舰战争</h3></a>
                                <div class="exampleSummary ng-binding">完整克隆的超级战舰游戏</div>
                                <div class="exampleTags">
                                    <!-- ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope">JQuery</span>
                                    <!-- end ngRepeat: tag in example.tags --><span ng-hide="tag === 'All'" ng-repeat="tag in example.tags" class="ng-binding ng-scope ng-hide">All</span>
                                    <!-- end ngRepeat: tag in example.tags -->
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                            <div class="back-face">
                                <div ng-bind-html="<p>This sample implements a full game using JQuery and JQuery UI.  Notable features include:</p><ul><li>Typed usage of JQuery and JQuery UI</li><li>Use of getters/setters</li><li>Use of traditional OO code design, including access modifiers</li></ul> | htmlFilter"
                                    class="ng-binding">
                                    <p>本案例使用jQuery和jQuery UI实现了一个完整的游戏。显著的特点包括：</p>
                                    <ul>
                                        <li>jQuery和jQuery UI类型的应用</li>
                                        <li>getters/setters的使用</li>
                                        <li>使用传统的面向对象的代码设计，包括访问修饰符</li>
                                    </ul>
                                </div>
                                <div class="exampleInfo"></div>
                            </div>
                        </div>
                    </div>
                    <!-- end ngRepeat: example in examples | byTags:tagFilters track by $index -->
                </div>
            </div>
        </div>
    </div>
    <style>
        body {
            background-color: #f2f2f2;
        }
    </style>
    <!-- inject:footer:html -->
    <!-- endinject -->
    <!-- inject:js -->
    <!-- endinject -->
</body>

</html>